#streamlit==0.87.0
#scikit-learn==1.0.1
#matplotlib==3.4.3
#numpy==1.21.3
#wget
#xarray
#altair==4.1.0
##dask==2021.9.1
#netcdf4
#h5netcdf
#requests
#io


streamlit
scikit-learn
matplotlib
numpy
xarray
altair
dask
netcdf4
h5netcdf
plotly
wget
geopandas
#cuml-cu11 --extra-index-url=https://pypi.nvidia.com

#cuml-cu11

#cuml
#cuda

#cubinlinker-cu11-0.3.0.post1
#cuda-python-11.8.1
#cudf-cu11-23.4.1
#cuml-cu11-23.4.1
#dask-2023.3.2 
#dask-cuda-23.4.0
#dask-cudf-cu11-23.4.1  
#nvidia-pyindex
#nvidia-cuml-cu11
